<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlz9.springbootmanager.mapper.LikeMapper">

    <resultMap id="BaseResultMap" type="com.zlz9.springbootmanager.pojo.Like">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="infoId" column="info_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="BIT"/>
            <result property="createTime" column="create_time" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,info_id,user_id,
        status,create_time,update_time
    </sql>
</mapper>
