<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlz9.springbootmanager.mapper.VideoTagMapper">

    <resultMap id="BaseResultMap" type="com.zlz9.springbootmanager.pojo.VideoTag">
            <result property="videoId" column="video_id" jdbcType="BIGINT"/>
            <result property="tagId" column="tag_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        video_id,tag_id
    </sql>
    <select id="selectVideoListById" resultType="java.lang.Long">
        SELECT video_id from h_video_tag WHERE tag_id = #{tagId}
    </select>
    <select id="selectTagByVideoTd" resultType="java.lang.Long">
        SELECT DISTINCT tag_id from h_video_tag WHERE video_id =#{id}
    </select>
</mapper>
